<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Let's Chat</title>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css' defer>
    <script src="./chat.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" defer>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" defer></script>
</head>
  <body>
    <header>
        <h1 class=" sigunUp">Let's Chat</h1>
    </header>
    <section id="userInfo" class="container">
        <span id = "userLogged" class="d-inline form-control">Logged in as : </span>
        <span id = "currentGroupName" class="d-inline form-control">Current Group: </span>
        <span id = "sign-out-button" class="btn btn-secondary d-inline float-end ms-2">Sign Out</span>
        <div id="group-list" class = "btn btn-secondary d-inline float-end ">
          <span>Groups</span>
        </div>
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <form id="groupInfo" class="form-control" action="/user/createGroup" method="post">
                <label for="groupName" class="form-label" style="font-weight: 600;">Enter Group Name</label>
                <input class="form-control" id="groupName" name="groupName" placeholder="Enter group name">
                <input class="btn btn-outline-primary ms-2 mt-2" type="submit" value="Create Group">
              </form>
            </div>
          </div>
        </div>
        <br>
        <div id="chat-window" class="col-4">
            <ul id="chat-messages">
                <!-- messages will be displayed here -->
            </ul>
        </div>
    </section>
    <section class="col-10" >
      <form id="my-form" class="form-control bg-body-tertiary"  action = '/user/send-message' method="post">
        
        <label for="message" class = "form-label" style="font-weight: 600;">Enter message :</label> 
        <input class="form-control" id="message" name ="message" placeholder="Enter your message">
        
        <br>
        <input class= "btn btn-outline-primary"type="submit" value="Send">
      </form>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js" defer></script>
  </body>
</html>