body{
    background-image: url(chatBackground.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section{
  margin: 2.5rem auto;
  border-radius: 10px;
  padding: 1rem;
}
.sigunUp{
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5rem;
    opacity: 70%;
}
#userLogged {
  width: 50%;
  
}